{% extends 'base.html.twig' %}

{% block title %}Hello BibliothequeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Votre bibliothèque !</h1>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Autheur</th>
      <th scope="col">Nombre de pages</th>
      <th scope="col">Ajouté le</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <th scope="row">{{ book.id }}</th>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.pages }}</td>
      <td>{{ book.createdAt | date("d/m/Y") }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
